{%extends 'base.html'%} {%block head%} {%endblock%} {%block body%}
<div class="container">
  <br />
  <div class="d-flex">
    <!-- To do -->
    <div class="p-2 flex-fill">
      <div class="card">
        <div class="card-header">
          <h1>To Do</h1>
        </div>

        <div class="card-body">
          <table class="table">
            <tr>
              <th>Task</th>
              <th>Added Date</th>
              <th>Actions</th>
            </tr>

            {%for task in allTasks%}
              {% if task.status==0%}
            <tr>
              <td>{{task.content}}</td>
              <td>{{task.date_created.date()}}</td>
              <td>
                <div
                  class="btn-group"
                  role="group"
                  aria-label=""
                >
                  <a href="/readyTask/{{task.id}}" class="btn btn-success btn-sm"
                    >Doing</a
                  >
                  &nbsp;
                  <a href="/update/{{task.id}}" class="btn btn-primary btn-sm"
                    >Edit</a
                  >
                  &nbsp;
                  <a href="/delete/{{task.id}}" class="btn btn-danger btn-sm"
                    >Delete</a
                  >
                </div>
              </td>
            </tr>
              {%endif%}
            {%endfor%}
          </table>

          <form action="/" method="POST">
            <div class="row">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  name="content"
                  id="content"
                  value=""
                  placeholder="write your task here"
                  required
                />
              </div>
              <div class="col">
                <button class="btn btn-primary" name="click" value="todo_btn">Add Task</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- currently Doing task -->

    <div class="p-2 flex-fill">
      <div class="card">
        <div class="card-header">
          <h1>Doing</h1>
        </div>

        <div class="card-body">
          <table class="table">
            <tr>
              <th>Task</th>
              <th>Added Date</th>
              <th>Actions</th>
            </tr>

            {%for task in allTasks%} 
           
            {%if task.status==1%}
              <tr>
                <td>{{task.content}}</td>
                <td>{{task.date_created.date()}}</td>
                <td>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label=""
                  >
                  <a href="/readyTask/{{task.id}}" class="btn btn-success btn-sm">Done</a> &nbsp;
                  <a href="/update/{{task.id}}" class="btn btn-primary btn-sm">Edit</a> &nbsp;
                  <a href="/delete/{{task.id}}" class="btn btn-danger btn-sm">Delete</a>
                </td>
                </div>
              </tr>
            {%endif%}
            {%endfor%}
          </table>

          <form action="/" method="POST">
            <div class="row">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  name="content"
                  id="content"
                  value=""
                  placeholder="write your urgent task here"
                  required
                />
              </div>

              <div class="col">
                <button class="btn btn-primary" name="click" value="doing_btn">Add Task</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Done-->
    <div class="p-2 flex-fill">
      <div class="card">
        <div class="card-header">
          <h1>Done</h1>
        </div>

        <div class="card-body">
          <table class="table">
            <tr>
              <th>Task</th>
              <th>Added Date</th>
              <th>Actions</th>
            </tr>

            {%for task in allTasks%}
            {% if task.status==2%}
            <tr>
              <td>{{task.content}}</td>
              <td>{{task.date_created.date()}}</td>
              <td>
                <div class="btn-group"
                  role="group"
                  aria-label=""
                >
 
                <a href="/" class="btn btn-success btn-sm">completed</a> &nbsp;
                <a href="/delete/{{task.id}}" class="btn btn-danger btn-sm">Delete</a>
                </div>
              </td>
            </tr>
            {%endif%}
            {%endfor%}
          </table>

          <form action="/" method="POST">
            <div class="row">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  name="content"
                  id="content"
                  value=""
                  placeholder="write your completed task"
                  required
                />
              </div>
              <div class="col">

                <button class="btn btn-primary" name="click" value="done_btn">Add Task</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
